[Unit]
Description=Pickup Sensor Handler
After=user-session.target

[Service]
ExecStart=/usr/bin/pickupd

[Install]
WantedBy=post-user-session.target
